<div style="display: flex; flex-direction: row;">
    <mat-card class="list-creditcards count-card">
        <mat-card-header>
          <mat-card-title>Number Of Cards</mat-card-title>
        </mat-card-header>
        <mat-card-content>
           10
          </mat-card-content>
      </mat-card>
      <mat-card class="list-creditcards count-card">
        <mat-card-header>
          <mat-card-title>Number Of Cards</mat-card-title>
        </mat-card-header>
        <mat-card-content>
           10
          </mat-card-content>
      </mat-card>
      <mat-card class="list-creditcards count-card">
        <mat-card-header>
          <mat-card-title>Number Of Cards</mat-card-title>
        </mat-card-header>
        <mat-card-content>
           10
          </mat-card-content>
      </mat-card>
      <mat-card class="list-creditcards count-card">
        <mat-card-header>
          <mat-card-title>Number Of Cards</mat-card-title>
        </mat-card-header>
        <mat-card-content>
           10
          </mat-card-content>
      </mat-card>
      <mat-card class="list-creditcards count-card">
        <mat-card-header>
          <mat-card-title>Number Of Cards</mat-card-title>
        </mat-card-header>
        <mat-card-content>
           10
          </mat-card-content>
      </mat-card>
</div>

  
  
<mat-card class="list-creditcards">
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
    </mat-card-header>
   
    <mat-card-content>
       <table mat-table>

       </table>
      </mat-card-content>
  </mat-card>
  
  